body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    margin: 10px auto 10px auto;
}

select{
    max-width: max-content;
}

button{
    margin-top: 5px;
    max-width: max-content;
}

#play-field img{
    width: 50px;
    height: 50px;
}

#play-field{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}